* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3aafa9;
}

#Layer_1 {
  margin: 20%;
}

p {
  font-size: 2em;
  color: #0b2027;
}

#phono-text text {
  text-transform: translate;
}

.container {
  margin: 44vh 8% 140px;
}
